* {
    box-sizing: border-box;
    margin: 0;
}
img {
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}
.img {
    width: 100%;
}
.container {
    padding: 20px;
    gap: 5px;
    background-color: rgb(59, 155, 179);
    display: grid;
    grid-auto-rows: 400px;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
}
.div-box {
    position: relative;
    overflow: hidden;
}
.span {
    color: white;
    background-color: black;
    position: absolute;
    padding: 5px 15px;
    top: 10px;
    left: 10px;
    font-size: 20px;
    border-radius: 5px;
}

@media screen and (max-width: 1000px) {
    .container {
        grid-template-columns: 1fr;
    }
}